node_modules
transpiled
assets
typings
dist
bundle.js
bundle.js.map
**/.idea/workspace.xml
**/.idea/tasks.xml
npm-debug.log
src/dependencies
test-results/coverage/cobertura
test-results/coverage/html
test-results/coverage/json/coverage-final.json
test-results/TESTS*
