<div>
    <div id="messages" data-ng-hide="ctrl.message == ''" style="margin:0 20px 20px 0;">{{ctrl.message}}</div>
    <div>
        <form name="speciesForm" data-ng-submit="ctrl.save()" novalidate>
            <label for="name">Name</label><br />
            <input type="text" id="name" name="name" data-ng-model="ctrl.species.name" required><br />
            <label for="name">Hair colors</label><br />
            <input type="text" id="hairColors" name="hairColors" data-ng-model="ctrl.species.hair_colors" required><p />
            <button type="submit">Save</button>
        </form>
    </div>
</div>
